<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Collection</title>
    <link rel="stylesheet" href="static/styles/main.css">
    <link rel="stylesheet" href="static/styles/globals.css">
    <link rel="stylesheet" href="static/styles/navbar.css">
</head>
<body>
    <div class="navbar">
        <div class="profile-icon">
            <a class="navbar-item" href="account"><img src="static/assets/user_default.png"></a>
        </div>
        <div class="navbar-pages">
            <a class="navbar-item" href="submit">Submit</a>
            <a class="navbar-item" href="view">View</a>
            <a class="navbar-item" href="admin">Admin</a>
        </div>
        <div class="navbar-right-buttons">
            <a class="navbar-item" href="settings"><img src="static/assets/settings.png"></a>
            <a class="navbar-item" href="help"><img src="static/assets/help.png"></a>
        </div>
    </div>
    <div class="main-container">
        <div class="sidebar-menu">
            <div class="menu-section">
                <div class="menu-title">Layout</div>
                <div class="menu-options">
                    <button>List</button>
                    <button>Graph</button>
                </div>
            </div>
            <div class="menu-section">
                <div class="menu-title">Branches</div>
                    <div class="menu-options">
                        <button>All</button>
                        <button>LAHS</button>
                    </div>
                </div>
            <div class="menu-section">
                <div class="menu-title">Start/End Date</div>
                    <div class="menu-options">
                        <label>Start Date:</label>
                        <input type="date" id="startDate" name="Start Date">
                        <label>End Date:</label>
                        <input type="date" id="endDate" name="End Date">
                        <button>Submit</button>
                    </div>
            </div>
        </div>
        <div class="content">
            <div class="images">
                <div class="chart">
                    <img src="static/assets/user_default.png">
                </div>
            </div>
            <div class="list">
                <div class="list-headers">
                    <div class="list-header-item">Name</div>
                    <div class="list-header-item">Branch</div>
                    <div class="list-header-item">Date</div>
                    <div class="list-header-item">Status</div>
                </div>
                <div class="list-items">
                    <div class="list-item">
                        <div class="list-item-name">John Doe</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-01</div>
                        <div class="list-item-status">Active</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">Jane Smith</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-02</div>
                        <div class="list-item-status">Inactive</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">John Doe</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-01</div>
                        <div class="list-item-status">Active</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">Jane Smith</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-02</div>
                        <div class="list-item-status">Inactive</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">John Doe</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-01</div>
                        <div class="list-item-status">Active</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">Jane Smith</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-02</div>
                        <div class="list-item-status">Inactive</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">John Doe</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-01</div>
                        <div class="list-item-status">Active</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">Jane Smith</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-02</div>
                        <div class="list-item-status">Inactive</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">John Doe</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-01</div>
                        <div class="list-item-status">Active</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">Jane Smith</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-02</div>
                        <div class="list-item-status">Inactive</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">Jane Smith</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-02</div>
                        <div class="list-item-status">Inactive</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">Jane asdfj;kasdf</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-02</div>
                        <div class="list-item-status">Inactive</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
