<html style="height: 100%;">
    <head>
        <meta name="viewport" content="width=device-width, minimum-scale=0.1">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
        <title>Food4All - Image</title>
    </head>
    <body style="margin: 0px; height: 100%; background-color: rgb(14, 14, 14);">
        <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="{{imageData}}" width="769" height="769">
    </body>
</html>