<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Collection</title>
    <link rel="stylesheet" href="static/styles/main.css">
    <link rel="stylesheet" href="static/styles/globals.css">
    <link rel="stylesheet" href="static/styles/navbar.css">
    <link rel="stylesheet" href="https://lib.reklaw.dev/lib.css">
    <script src="static/scripts/view_collections.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="profile-icon">
            <a class="navbar-item" href="account"><img src="static/assets/user_default.png"></a>
        </div>
        <div class="navbar-pages">
            <button class="navbar-item" onclick="animateOpenModal(document.getElementById('modal'))">Submit</button>
            <a class="navbar-item" href="admin">Admin</a>
        </div>
        <div class="navbar-right-buttons">
            <a class="navbar-item" href="settings"><img src="static/assets/settings.png"></a>
            <a class="navbar-item" href="help"><img src="static/assets/help.png"></a>
        </div>
    </div>
    <div class="main-container">
        <div class="sidebar-menu">
            <div class="menu-section">
                <div class="menu-title">Layout</div>
                <div class="menu-options">
                    <button>List</button>
                    <button>Graph</button>
                </div>
            </div>
            <div class="menu-section">
                <div class="menu-title">Branches</div>
                    <div class="menu-options">
                        <button>All</button>
                        <button>LAHS</button>
                    </div>
                </div>
            <div class="menu-section">
                <div class="menu-title">Start/End Date</div>
                    <div class="menu-options">
                        <label>Start Date:</label>
                        <input type="date" id="startDate" name="Start Date">
                        <label>End Date:</label>
                        <input type="date" id="endDate" name="End Date">
                    </div>
            </div>
            <div class="menu-section">
                <button>Update</button>
            </div>
        </div>
        <div class="content">
            <div class="charts">
                <div class="chart">
                    <label>Chart 1</label>
                    <img src="static/assets/user_default.png">
                </div>
                <div class="chart">
                    <label>Chart 2</label>
                    <img src="static/assets/user_default.png">
                </div>
                <div class="chart">
                    <label>Chart 3</label>
                    <img src="static/assets/user_default.png">
                </div>
            </div>
            <div class="list">
                <div class="list-headers">
                    <div class="list-header-item">Name</div>
                    <div class="list-header-item">Branch</div>
                    <div class="list-header-item">Date</div>
                    <div class="list-header-item">Status</div>
                </div>
                <div class="list-items">
                    <div class="list-item">
                        <div class="list-item-name">John Doe</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-01</div>
                        <div class="list-item-status">Active</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">Jane Smith</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-02</div>
                        <div class="list-item-status">Inactive</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">John Doe</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-01</div>
                        <div class="list-item-status">Active</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">Jane Smith</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-02</div>
                        <div class="list-item-status">Inactive</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">John Doe</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-01</div>
                        <div class="list-item-status">Active</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">Jane Smith</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-02</div>
                        <div class="list-item-status">Inactive</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">John Doe</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-01</div>
                        <div class="list-item-status">Active</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">Jane Smith</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-02</div>
                        <div class="list-item-status">Inactive</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">John Doe</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-01</div>
                        <div class="list-item-status">Active</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">Jane Smith</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-02</div>
                        <div class="list-item-status">Inactive</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">Jane Smith</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-02</div>
                        <div class="list-item-status">Inactive</div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-name">Jane asdfj;kasdf</div>
                        <div class="list-item-branch">LAHS</div>
                        <div class="list-item-date">2023-10-02</div>
                        <div class="list-item-status">Inactive</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal" class="modal-background centered-children" style="display: none; width: 100%; height:100%">
            <div class="modal vertical-container">
                <div class="modal-header">
                    <h2>Submit Collection</h2>
                    <button class="close-button" onclick="modalClose('ignore')">X</button>
                </div>
                <input id="ingredientName" type="text"></input>
                <input id="ingredientQuantity" type="number"></input>
                <button id="modalSubmit" onclick="modalClose('use')">Submit</button>
            </div>
        </div>
    </div>
</body>
</html>
