<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Collection</title>
    <link rel="stylesheet" href="static/styles/main.css">
</head>
<body>
    <div class="navbar">
        <div class="profile-icon">
            <a class="navbar-item" href="account"><img src="static/assets/user_default.png"></a>
        </div>
        <div class="navbar-pages">
            <a class="navbar-item" href="account">Submit</a>
            <a class="navbar-item" href="view">View</a>
            <a class="navbar-item" href="submit">Admin</a>
        </div>
        <div class="navbar-right-buttons">
            <a class="navbar-item" href="account"><img src="static/assets/settings.png"></a>
            <a class="navbar-item" href="account"><img src="static/assets/help.png"></a>
        </div>
    </div>
    <div class="main-container">
        <div class="sidebar-menu">
            <div class="menu-section">
                <div class="menu-title">Layout</div>
                <div class="menu-options">
                    <a href="#">List</a>
                    <a href="#">Graph</a>
                </div>
            </div>
            <div class="menu-section">
                <div class="menu-title">Branches</div>
                    <div class="menu-options">
                        <a href="#">All</a>
                        <a href="#">LAHS</a>
                    </div>
                </div>
            <div class="menu-section">
                <div class="menu-title">Start/End Date</div>
                    <div class="menu-options">
                        <a href="#">All</a>
                        <a href="#">LAHS</a>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>
