html, body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-container {
  display: flex;
  min-height: 0;
}

.sidebar-menu {
  width: 220px;
  height: 100%;
  background-color: var(--accent);
  color: var(--text);
  display: flex;
  flex-direction: column;
}

.menu-title, .menu-options button, .menu-options a {
  padding: 1rem;
  text-decoration: none;
  color: var(--text);
  display: block;
  transition: background-color 0.2s;
}

.menu-title:hover, .menu-options button:hover, .menu-options a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-options {
  display: none;
  flex-direction: column;
}

.menu-section {
    overflow-y:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.menu-section:hover .menu-options {
  display: flex;
}

.menu-options button, .menu-options a, .menu-options label{
  all: unset;
  margin-left: 1rem;
  background-color: var(--accent);
  border: none;
  text-align: left;
  font-size: 1rem;
  display: block;
  cursor: pointer;
  padding: 1rem;
  color: var(--text);
  width: 100%;
}

.menu-options input {
  margin-left: 1rem;
  padding: 0.5rem;
  background-color: var(--accent);
  color: var(--text);
  border: 1px solid #444;
  border-radius: 4px;
  font-size: 1rem;
  width: calc(100% - 2.5rem);
  margin-bottom: 0.1rem;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

.images, .list {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    background-color: var(--background);
}

.list {
    background-color: var(--background);
}

.images::-webkit-scrollbar {
    display: none;
}

.list table {
  text-align: center;
  color: var(--text);
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 0.5rem;
}

.table-container {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  border:1px solid black;
}

.table-scrollable {
  max-height: 300px;
  overflow-y: auto;
}

.table-scrollable table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table-scrollable::-webkit-scrollbar {
    display: none;
}
