html, body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.main-container {
  display: flex;
  min-height: 0;
}

.sidebar-menu {
  width: 15vw;
  height: 100%;
  background-color: var(--accent);
  color: var(--text);
  display: flex;
  flex-direction: column;
}

.menu-title, .menu-options button, .menu-options a {
  padding: 1rem;
  text-decoration: none;
  color: var(--text);
  display: block;
  transition: background-color 0.2s;
}

.menu-title:hover, .menu-options button:hover, .menu-options a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-options {
  display: none;
  flex-direction: column;
}

.menu-section button {
  all: unset;
  background: var(--accent);
  padding: 0;
  padding: 1rem;
  text-decoration: none;
  color: var(--text);
  display: block;
  border: none;
  width: 100%;
  text-align: left;
}

.menu-section button:hover {
  cursor: grab;
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-section {
    overflow-y:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.menu-section:hover .menu-options {
  display: flex;
}

.menu-options button, .menu-options a, .menu-options label{
  all: unset;
  margin-left: 1rem;
  background-color: var(--accent);
  border: none;
  text-align: left;
  font-size: 1rem;
  display: block;
  cursor: pointer;
  padding: 1rem;
  color: var(--text);
  width: 100%;
}

.menu-options input {
  margin-left: 1rem;
  padding: 0.5rem;
  background-color: var(--accent);
  color: var(--text);
  border: 1px solid #444;
  border-radius: 4px;
  font-size: 1rem;
  width: calc(100% - 2.5rem);
  margin-bottom: 0.1rem;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

.list {
    flex: 1;
    min-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.charts {
    background-color: var(--background);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    height: 50vh;
    align-items: stretch;
}

.charts::-webkit-scrollbar {
    display: none;
}

.chart {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    color: var(--text);
    font-weight: bold;
    gap: 0.2rem;
    font-size: 1.2rem;
}

.chart img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.list {
    background-color: var(--background);
    display: flow;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--text);
    flex: 1;
    min-height: 0;
}

.list-headers {
  flex-shrink: 0;
  margin-top: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 1rem;
  padding-right: 0.7rem;
  margin-left: 1rem;
  border: solid 1px var(--text);
  font-size: 1.2rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.list-items {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr;
    margin: 0 1rem 1rem 1rem;
    overflow-y: auto;
    max-height: 30vh;
    scroll-behavior: smooth;
    border-bottom: solid 1px var(--text);
}

.list-items::-webkit-scrollbar {
    background-color: var(--accent);
    color: var(--text);
    border-right: solid 1px var(--text);
    width: 0.7rem;
    border-bottom: solid 1px var(--text);
}

.list-items::-webkit-scrollbar-thumb {
    background-color: var(--text);
}

.list-item {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border: solid 1px var(--text);
  border-bottom: none;
}

.list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: grab;
}

.modal {
  background-color: var(--accent);
  color: var(--text);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal input {
  font-weight: unset;
  font-size: unset;
  text-decoration: unset;
  background-color: var(--background);
  color: var(--text);
  border: none;
  border-radius: 4px;
}

.modal select {
  font-weight: unset;
  font-size: unset;
  text-decoration: unset;
  background-color: var(--background);
  color: var(--text);
  border: none;
  border-radius: 4px;
}

.modal button {
  background-color: var(--background);
  color: var(--text);
  border: none;
  border-radius: 4px;;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}