@media (max-width: 768px) {
  .list-headers {
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .list-items {
    margin: 0 0.5rem 0.5rem 0.5rem;
  }
  
  .list-item {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .list-headers {
    font-size: 0.8rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    padding-right: 0.25rem;
  }
  
  .list-items {
    margin: 0 0.25rem 0.25rem 0.25rem;
    max-height: 40vh;
  }
  
  .list-item {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    font-size: 0.65rem;
  }
  
  .sidebar-menu {
    font-size: 0.7rem;
    width: 15vw;
  }

  .content {
    overflow-y: auto;
  }
}